* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(221, 216, 241);
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 120%;
  font-size: 5rem;
  text-align: center;
  background-color: rgb(88, 79, 122);
  padding: 1.0rem 0;
  border-bottom: rgb(42, 45, 90) solid 12px;
  /* color: rgb(206, 205, 212); */
  color: white;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 120%;
  text-align: center;
  margin-top: 12px;
}




li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(206, 205, 212);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(88, 79, 122);
  margin-top: 0;
  border-bottom: rgb(42, 45, 90) solid 12px;
  z-index: 5;
}

nav ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ol li {
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 15px 50px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: rgb(77, 75, 92);
  color: white;
  font-weight: 900;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

nav ol li:hover {
  background-color: rgb(194, 189, 230);
  /* color: #000; */
  font-size: 1.5rem;
  padding: 15px 50px;
  margin: 10px 10px;
}

a:hover {
  color: #000;
}



.clear {
  height: 300px;
  width: 100%;
}

main {

  /* width: 960px; */
  margin: 0 auto;
  /* border: 1px solid black; */
  /* height: 2000px; */
}

h3 {
  position: relative;
  top: 210px;
  background-color: rgb(88, 79, 122);
  font-size: 4rem;
  padding-top: 36px;
  padding-bottom: 24px;
  border-bottom: rgb(42, 45, 90) solid 12px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 120%;
  text-align: center;

}

.copy {
  font-family: Arial, Helvetica, sans-serif;
  /* position: relative; */
  display: block;
  width: 1200px;
  margin: 0 auto;
  /* top: 300px; */
}

.copy ul {
  text-align: center;
  font-size: 2rem;
  line-height: 150%;
  color: #333;
  font-weight: 500;
  margin-bottom: 36px;
  margin-top: -54px;
}

.copy {
  text-align: left;
  font-size: 2rem;
  line-height: 150%;
  color: #333;
  font-weight: 500;
}






#catalog {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  font-size: 24px;
    text-align: center;
}
#catalog fieldset {
  width: 1100px;
  background-color: rgb(238, 204, 193);
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 36px;
  padding: 36px 54px;
}

#catalog legend {
  background-color: rgb(88, 79, 122);
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  padding: 12px 72px;
  margin-bottom: -10px;
}

#catalog label {
  padding: 20px 0;
  text-transform: uppercase;
  margin: 24px 24px;
  }

#catalog select {
  font-size: 28px;
  padding: 8px;
  border-radius: 16px;
  margin: 0 12px;
}  

#catalog input {
  /* float: right; */
  font-size: 1.6rem;
  padding: 12px;
  margin: 5px;
  border: 1px solid #333;
  border-radius: 8px;
  /* width: 100px; */
}

fieldset input:nth-child(2) {
  padding: 20px 30px;
  font-size: 35px;
  width: 150px;
}

#catalog input:nth-child(4) {
  border: 2px solid blue;
  padding: 12px 42px;
  font-size: 24px;
  background-color: rgb(77, 75, 92);
  color: white;
  font-weight: 900;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

#catalog input:nth-child(4):hover {
  background-color: rgb(194, 189, 230);
  color: rgb(77, 75, 92);

}
#cartContents ul {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 200px;
  font-size: 36px;
  line-height: 64px;
  padding: 36px 36px;
  text-align: left;
  color: black;
  background-color: cornsilk;
  border-radius: 24px;
  margin-top: 20px;
}

#foundIt {
  font-size: 36px;
  /* font-weight: 500; */
  background-color: rgb(77, 75, 92);
  color: white;
  border: 2px solid blue;
  display: block;
  margin: 36px auto;
  margin-top: 20px;
  border-radius: 12px;
  padding: 18px 64px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

#foundIt:hover {
  background-color: rgb(194, 189, 230);
  color: rgb(77, 75, 92);
}

#cartSubmitButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px auto;
  padding: 36px;
  font-size: 36px;
  /* font-weight: 500; */
  background-color: rgb(77, 75, 92);
  color: white;
  border: 2px solid blue;
}

#cartSubmitButton {
  background-color: rgb(88, 79, 122);
  border: 1px solid white;
  color: white;
  display: block;
  margin: 36px auto;
  border-radius: 12px;
  padding: 18px 64px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

#cartSubmitButton:hover {
  background-color: rgb(194, 189, 230);
  color: rgb(77, 75, 92);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: rgb(77, 75, 92);
  margin-top: 100px;
}