* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(221, 216, 241);
  font-family: Georgia, 'Times New Roman', Times, serif;
}


h1 {
  font-size: 3rem;
  text-align: center;
  background-color: rgb(88, 79, 122);
  padding: 1.0rem 0;
  border-bottom: rgb(42, 45, 90) solid 12px;
  color: rgb(206, 205, 212);
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 120%;
  text-align: center;
  margin-top: 12px;
}




li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(206, 205, 212);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(88, 79, 122);
  margin-top: 0;
  border-bottom: rgb(42, 45, 90) solid 12px;
  z-index: 5;
}

nav ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ol li {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 15px 50px;
  margin: 10px 10px;
  border-radius: 10px;
  background: rgb(77, 75, 92);
  color: white;
  font-weight: 900;
}

nav ol li:hover {
  background: rgb(194, 189, 230);
  /* color: #000; */
  font-size: 1.5rem;
  padding: 15px 50px;
  margin: 10px 10px;
}

a:hover {
  color: #fff;
}



.clear {
  height: 200px;
  width: 100%;
}

main {
  width: 960px;
  margin: 0 auto;
  /* border: 1px solid black; */
  height: 2000px;
}


.imageContainer {
  top: 300px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  margin: 12px;
  border-radius: 12px;
  width: 32%;
}

.btn {
  /* margin: 12px auto; */
  padding: 24px 54px;
  background-color: rgb(42, 45, 90);
  color: aliceblue;
  font-size: 24px;
  border-radius: 12px;
  border: 1px solid white;
}

.btn1 {
  position: absolute;
  top: 200px;
  left: calc(50vw - 202px);
  display: block;
  display: none;
}

.btn2 {
  position: absolute;
  top: 300px;
  left: calc(50vw - 187px);
  display: block;
  display: none;
}

.btn3 {
  position: absolute;
  top: 262px;
  width: 320px;
  left: calc(50vw - 160px);
  font-size: 32px;
  display: block;
  margin-top: 12px;
  padding: 16px 32px;
}

.btn:hover {
  background-color: aliceblue;
  color:rgb(52, 47, 71);
  border: 2px solid black;
}

#resultsContainer {
  /* position: absolute; */
  /* top: 350px; */
  width: 100%;
  height: 2100px;
  margin: 24px auto;
  /* border: 1px solid black; */
  display: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}
ul {
  /* list-style-image: url('img/boots.jpg'); */
  /* width: 48%; */
  /* float: left; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; */
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
ul img {
  max-width: 100px;
  max-height: 100px;
  /* float: right; */
  display: block;
  border-radius: 12px;
  margin: 12px auto;
}

ul li {
  /* width: 48%; */
  /* margin: 12px 0; */
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding: 6px;
  text-align: center;
  display: inline-block;

}

#chartDisplay1 {
  display: hidden;
}

